# Dependency directories
node_modules/
jspm_packages/
# Bower dependency directory (https://bower.io/)
bower_components
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
# TypeScript v1 declaration files
typings/